#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
}

thead {
  background-color: gray;
}

th, td {
  padding: 0.5rem;
  border: 1px solid black;
}

th {
  text-align: left;
}

tr
{
  cursor: pointer;
}

td {
  text-align: center;
}

tr:hover {
  background-color: gray;
}


button
{
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
}



.even-color {
  color: gray;
}

.odd-color {
  color: wheat;
}
